IndentWidth: 4
PointerAlignment: Left
SortIncludes: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

Cpp11BracedListStyle: false
AccessModifierOffset: -4

AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
AlignOperands: DontAlign
BreakBeforeBinaryOperators: NonAssignment

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline

ColumnLimit: 90
MaxEmptyLinesToKeep: 1
InsertNewlineAtEOF: true